PORT=8080
NODE_ENV=development
MONGO_URI=mongodb+srv://ritiktomar0209:a6fpfH3NAyqa1Xec@genchat.qjzikbr.mongodb.net/rbac-dashboard

JWT_SECRET=replace-me-with-a-long-random-string

CLIENT_URL=http://localhost:5173
